/AttrOperator.class
/AttrType.class
/Catalogglobal.class
/Convert.class
/EID.class
/ExtendedSystemDefs.class
/Flags.class
/GlobalConst.class
/IndexType.class
/LID.class
/LogicalOperator.class
/PID.class
/PageId.class
/QID.class
/RID.class
/SelectType.class
/SystemDefs.class
/TupleOrder.class
